# Git
.git
.gitignore

# GitHub Actions
.github

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
dist/
build/

# Test & coverage artifacts
.pytest_cache
.coverage
htmlcov/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore

# Docs
*.md
